<!DOCTYPE html>
<html>
  <head>
    <title>s</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>s</h1>
    <% data.forEach(function(post,i){ %>
    	<p>Welcome to <%=post.username %></p>
    <% }) %>
  </body>
</html>
